// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* ---画面上部の「気になる記事はSHELFへ保管！」帯部分--- */

.title-contents {
  width: 100vw;
  height: 600px;
  background-image: image-url('shelf-main01.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
  opacity: 0.9;
  margin-bottom: 50px;
  }

  .service-title {
    font-size: 8vh;
  }

  .service-explain {
    font-size: 2.5vh;
    line-height: 40px;
  }

/* ---画面上部の「気になる記事はSHELFへ保管！」帯部分--- */


