
/* ---画面上部の「気になる記事はSHELFへ保管！」帯部分--- */
/* articles.scssに記載 */
/* ---画面上部の「気になる記事はSHELFへ保管！」帯部分--- */


/* ---SHELFの特徴--- */
.feature-contents {
  padding: 5vh 15vw;
}

.feature-contents>.title {
  text-align: center;
  font-size: 3.5vh;
  font-weight: bold;
  margin-bottom: 5vh;
  position: relative;
}

.feature-contents>.title::after {
  content: '';
  width: 70px;
  height: 4px;
  background-color: #3ccace;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.feature-lists {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.feature-lists>.list {
  width: 33vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-list-text {
  font-weight: bold;
  font-size: 22px;
  line-height: 50px;
}

.feature-list-description {
  font-size: 18px;
  margin-top: 20px;
}

.list-pict {
  margin-bottom: 20px;
  height: 100%;
  width: 100%;
}

/* ---SHELFの特徴--- */

/* 記事一覧 */

.item-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.item-contents>.title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
}

.item-contents>.subtitle {
  font-size: 3vh;
  margin: 1vh 0;
  text-decoration: none;
  color: #3ccace;
  font-weight: bold;
}

.article-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.article-lists>.list {
  width: 100vh;
  padding: 1vw;
  background-color: #FFF;
}

.article-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
}

.article-title {
  font-size: 2.3vh;
  padding-bottom: 5px;
}

.article-text{
  font-size: 1.8vh;
  padding-bottom: 5px;
}

.article-genre{
  font-size: 1.8vh;
  padding-bottom: 5px;
}

.article-url {
  font-size: 1.8vh;
  display: flex;
  justify-content: space-between;
}

.star-btn {
  display: flex;
  align-items: center;
}

.star-icon {
  height: 2vh;
  width: 2vh;
  margin-right: 0.5vw;
}

.star-count {
  font-size: 2vh;
}

/* 記事一覧 */