/* ---記事の概要--- */

.item-show {
  background-color: #f8f8f8;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
}

.item-box {
  background-color: #FFF;
  width: 90vw;
  min-width: 1200px;
  padding: 10vh 12vw;
  margin-top: 5vh;
  margin-bottom: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-box>.title {
  text-align: center;
  font-weight: bold;
  font-size: 3.1vh;
}

.item-box-show {
  margin: 35px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.item-box-show>.item-text {
  padding: 20px 0 20px 0;
  font-size: 2.5vh;
  font-weight: bold;
}

.item-box-show>.item-url {
  margin: 30px 0px;
  font-weight: bold;
  font-size: 2.5vh;
}

.item-box-show>.item-genre {
  margin: 30px 0px;
  font-weight: bold;
  font-size: 2.5vh;
}

.item-red-btn {
  text-align: center;
  background-color: #89cd00;
  font-size: 2.5vh;
  font-weight: bold;
  color: #FFF;
  margin: 20px 0px;
  padding: 2vh 10vw;
}

.or-text {
  font-size: 20px;
}

.item-destroy {
  background-color: lightgray;
  text-align: center;
  font-size: 2.5vh;
  color: black;
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 2vh 10vw;
}

.detail-table {
  margin-bottom: 40px;
  margin-top: 20px;
  width: 100%;
}

.detail-item {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 2.5vh;
  font-weight: bold;
  text-align: center;
}

.detail-value {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 2.5vh;
  font-weight: bold;}

.detail_user {
  color: #2f28fd;
}

.detail_user:hover{
  opacity: 0.5;
}

.option {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.favorite-btn {
  border-radius: 40px;
  width: 15vw;
  min-width: 200px;
  color: rgb(249, 75, 0);
  border: 2px solid #ffb340;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vh 0;
}

.un-favorite-btn {
  border-radius: 40px;
  width: 15vw;
  min-width: 200px;
  color: rgb(69, 68, 68);
  border: 2px solid #bd8635;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vh 0;
}

.favorite-star-icon {
  margin-right: 5px;
}

/* ---記事の概要--- */
