<%= render "shared/header"%>

<div class="favorite-main">
  <div class="favorite-box">

    <% if @favorite_articles.present? %>
        <%= render partial: "favorites/favorite_articles", collection: @favorite_articles %>
    <% else %>
      <p><%= t('.no_result') %></p>
    <% end %>

  </div>
</div>


<%= render "shared/second-footer"%>
