/* ------------user/show/main------------- */
.inner {
  width: 1024px;
  margin: 0 auto;
}

.user__wrapper{
  min-height: calc(100vh - 161px);

}

.page-heading {
  font-size: 6.5vh;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 1000;
  color: rgb(34, 34, 34);
  padding: 50px 0 90px 0;
  display: flex;
  justify-content: center;
}

.profile {
  margin-bottom: 40px;
}

.profile-img {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 0 0px;
  display: block;
  margin: auto;
  margin-bottom: 50px;
}

.user-nickname {
  font-size: 5vh;
  padding-top: 10px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
}

/* .table__col2{
  text-align: left;
  border: 1px solid #f5f5f5;
  border-collapse: collapse;
  width: 70%;
  padding: 16px 8px;
}

.user__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
} */

.follow_page-btn {
  border-radius: 40px;
  width: 40vw;
  background-color: #28c3d4;
  display: flex;
  margin: auto;
  margin-top: 20px;
}

.follow-btn {
  background-color: #28c3d4;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  font-size: 1.6rem;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
  text-align: center;
  text-shadow: none;
  border: 0;
  cursor: pointer;
  font-weight: normal;
  padding: 0.8em 1.8em;
  min-width: 30%;
  line-height: 1.2;
  display: block;
  margin: auto;
}

.follow-btn-now {
  background-color: #28c3d4;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  font-size: 1.6rem;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
  text-align: center;
  text-shadow: none;
  border: 0;
  cursor: pointer;
  font-weight: normal;
  padding: 0.8em 1.8em;
  min-width: 30%;
  line-height: 1.2;
  display: block;
  margin: auto;
  opacity: 0.5;
}

.following-lists {
  border-radius: 40px;
  width: 40vw;
  background-color: #28c3d4;
  display: flex;
  margin: auto;
  margin-top: 30px;
}

.following-text {
  background-color: #28c3d4;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  font-size: 1.6rem;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
  text-align: center;
  text-shadow: none;
  border: 0;
  cursor: pointer;
  font-weight: normal;
  padding: 0.8em 1.8em;
  min-width: 30%;
  line-height: 1.2;
  display: block;
  margin: auto;
}

.follow-list {
  font-size: 4vh;
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.follow-profile {
  width: 40%;
  display: flex;
  justify-content: space-around;
}

.follow-profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 0 0px;
  display: block;
  margin: auto;
}

.follow-user-name{
height: 100%;
}

.f-user-name {
    font-size: 3vh;
}

.f-user {
  height: 50%;
  width: 100px;
  display: flex;
  align-items: center;
  margin-right: 100px;
  padding-left: 30px;
}

 /* <%# ---投稿一覧の表示--- %> */

.user-article {
  background-color: rgb(189, 246, 189);
  font-size: 4.5vh;
  font-weight: 600;
  display: flex;
  justify-content: center;
  padding: 60px 0;
}

.space {
  background-color: orange;  height: 1px;
  background-image: linear-gradient(to right, transparent, #ccc, transparent);
  margin: 90px 0;
}

.user-article-list {
  background-color: rgb(229, 250, 236);
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.article-box {
  background-color: #FFF;
  width: 90vw;
  min-width: 1200px;
  padding: 10vh 12vw 4vh 12vh;
  margin: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-main {
  width: 100%;
  min-width: 800px;
  height: 100%;
  display: flex;
  justify-content: center;
}
